.navbar-tambah {
	background-color: #198754;
}

.navbar-brand {
	font-size: 30px;
}

.tambah-mhs {
	text-decoration: none;
	color: #ffff;
}

.hapus {
	text-decoration: none;
	color: #ffff;
}

.ubah {
	text-decoration: none;
	color: #ffff;
}
